.customer-header{
    padding: 14px 10px;
    background-color: #009688;
    width: 84%;
    border-radius: 15px;
}

.action button{
    float:right;
    margin: 15px 3px;
}


.detail p{
    padding: 10px;
    margin: 5px;
}
.add {
    background-color: #070a7a;
    float: right;
    color: white;
}
.add :hover{
    color: white;
}

.item-container {
    margin-left: 20%;
}