
.sidenav {
  height: 100%;
  width: 180px;  
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ede3e3;
  overflow-y: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #080808;
}

.nav-pills >li >a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  display: block;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 10px 15px 10px 25px;
}
.nav-pills > li > a:hover {
   background-color: rgb(176 175 214);
   color: white;
}

.nav-pills .active {
 /* background-color: rgb(0, 81, 255); */
 color:rgb(0, 81, 255)     ;
 font-weight:bold;
}
